
body{
    width: 100%;
    margin: 0 auto;
    background-color: #1e4c37;
}
h1{
    font-size: 40px;
    text-decoration: none;
    margin-bottom: 20px;
}
h2{
    font-size: 30px;
    font-weight: 650;    
    line-height: 50px;
}
h3{
    font-size: 24px;
    font-weight: 500;    
    line-height: 80px;
}
a{
    color: white;
    text-decoration: none;
}
.more a:link, .more a:visited {
 text-decoration: none;
 color:#0C2715
}
a:visited{
    color: white;
}
.hr{
    width: 100%;
    margin: 0 auto;
    height: 2px;
    margin: 20px auto;

}
ul{
    margin: 0;
}
sub-heading{
    font-size: 18px;
}
.clearfix:after{
    content: '';
    display: block;
    clear: both;
}
nav{
    background-color:transparent;
    height: 50px;
    margin: 0px;
}
nav logo{
    height:50px;
    line-height: 50px;
    display: inline-block;
    float: left;
    margin-left: 20px;
    color:#00a57f;
    font-size: 40px;
    font-weight: 600;
    letter-spacing: 1px;
     font-family: "楷体","楷体_GB2312";;
}
nav ul{
   list-style: none;
}
nav ul li{
    display: inline-block;
    line-height: 50px; 
    font-size: 25px;
    color: #00a57f;
    float: right;
 
    margin-right: 35px;
}
nav ul li .active{
    display: inline-block;
    height: 45px;
    color: #00a57f;
    line-height: 50px; 
    font-size: 25px;
    text-decoration: none;
    border-bottom: 5px solid #00a57f;
}
nav ul li a{
    height: inherit;
    color: #00a57f;    
    display: inline-block;

}
header{
    background-color:#e8e8e8;
}
#banner{
    height: 550px;
}
#banner .row li{
    display: inline-block;
    font-size:130px;
    color:#ccc;
    font-weight:100;
    line-height: 500px;
}
#banner .row li.R{
    margin-left: 45px;
}
#banner .row li.L{
    margin-right: 45px;
    float: right;
} 

.rightdiv{
    display: inline-blockl;
    width: 85%;
    float: right;
}

#content{
    background-color: #00a57f;
    padding-bottom: 80px;
}
#content .one .wrapper{
    padding-top: 100px;
    max-width: 60%;
    margin: 0  auto;
    font-size: 13px;
    color: white;
    /*text-align: center;*/
}
#content article{
    width: 80%;
    margin: 10px auto;
    line-height: 30px;
}


.one .wrapper .hr{
    background-color: #016f56;
    width: 70%;
}
.one .wrapper p{
   margin: 40px auto;  
   line-height: 20px;
   font-size: 13px;
   text-align: center;
   /*word-wrap: break-word;
   color: white;
   margin-bottom: 15px;
   text-indent: 2em;
   line-height: 24px;
   zoom: 1;*/
}
.one article p{
    font-size: 14px;
   word-wrap: break-word;
   /*color: #333;*/
   margin-bottom: 15px;
   text-indent: 2em;
   line-height: 24px;
   zoom: 1;
}
 #content .one .card-group{
    margin: 0px auto;
    max-width: 60%; 
    margin-bottom: 50px;
}
.one .card-group .card{
    float: left;
    width: 50%;
    color: white;    
    padding: 30px;
    min-height: 250px;
    box-sizing: border-box;
}
.one .card-group .card td{
    width: 50%;
    font-size: 20px;
    line-height: 40px;

}
.one .card-group .card .more{
    float: right;
    margin-right: -200px;
}
.card:first-child{
    background: rgba(0,0,0,0.02)
}
.card:nth-child(2){
    background: rgba(0,0,0,0.06)
}
.card:nth-child(3){
    background: rgba(0,0,0,0.1)
}
.card:nth-child(4){
    background: rgba(0,0,0,0.14)
}
.card:nth-child(5){
    background: rgba(0,0,0,0.18)
}
.card:nth-child(6){
    background: rgba(0,0,0,0.22)
}
.card:nth-child(7){
    background: rgba(0,0,0,0.26)
}
.card:nth-child(8){
    background: rgba(0,0,0,0.30)
}



#siderbar{
    position: fixed;
    top: 50px;
    bottom: 0px;
    width: 15%;
    background-color: #1e4c37;
}
#siderbar form{
    box-sizing: border-box;
    height: 50px;  
    margin: 20px 10px 10px 0px;
}
#siderbar form .text{
    width: 100px;
    height: 20px;
  　border-radius :10px;
}

#siderbar form .search{
    width: 50px;
    height: 20px;
    margin: 0;
    border: 0px;
    background-color: #638a76;
    
}
#siderbar ul{   
    padding: 0;
    margin: 0;
}
#siderbar ul a{
    width: 100%;
    height: 30px;
    box-sizing: border-box;
    line-height: 30px;
    font-size: 20px;
    text-decoration: none;
    padding: 10px;
    display: inline-block;
}
#siderbar ul li:hover{
    line-height: 30px;
    background-color: #638a76;
}
#siderbar ul .menu{
    padding-right: 14px;
    position: absolute;
    right: 300px;
    width: 450px;
    height: 300px;    
    float:left; 
}
#siderbar ul li:hover .menu{
    background-color: #444;
    display: inline-block;
    overflow: hidden;
}
#siderbar ul li .menu:hover+a{
    background-color: #444;

}
#siderbar ul .menu td a{
    height:25px; 
    font-size: 15px;
    line-height: 10px;
}
#siderbar ul .menu tr{
    height: 25%;
}



footer{
    background-color: #133827;
    color: #fff;
    text-align: center;
    height: 200px;
}
.share-group{
    display: block;
    max-width: 1080px;
    margin: 0 auto; 
    padding: 50px;   
}
.share-group li{
    display: inline-block;
    width: 20%;
    /*text-decoration: none;
    padding: 15px;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 1px;*/
}
.share-group li img{
    width: 3%;
    position: absolute;
}
.copy{
    line-height: 25px;
}

#back_to{
    width: 100px;
    height: 40px;
    padding: 10px 10px;
}

#back_to button{
    width: 90px;
    height: 30px;
    background-color: whitesmoke;
}

#back_to a{
    color: black;
}


